#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.read-the-docs {
  color: #888;
}
